<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Custom Directives</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body ng-controller="BodyCtrl as body">

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form name="filteringForm" ng-submit="body.addGame(body.game, body.desc)">
                <div class="form-group">
                    <label for="game">Game Name</label>
                    <input type="text"
                           id="game"
                           class="form-control"
                           ng-model="body.game">
                </div>

                <div class="form-group">
                    <label for="desc">Game Desc</label>
                    <input type="text"
                           id="desc"
                           class="form-control"
                           ng-model="body.desc">
                </div>
                <button class="btn btn-primary">Add Game</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input type="text"
                   class="form-control"
                   ng-model="body.search"
                   placeholder="Search Games..." />
            <ul>
                <li ng-repeat="game in body.games | filter: {title: body.search}">
                    {{game.title}}
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="filtering.js"></script>
</body>
</html>
